[submodule "Day3/website-project"]
	path = Day3/website-project
	url = https://github.com/Mayusha-R/website-project.git
[submodule "Day12/Jenkins-pipeline-demo"]
	path = Day12/Jenkins-pipeline-demo
	url = https://github.com/Mayusha-R/Jenkins-pipeline-demo.git
[submodule "Day13/java-maven-app"]
	path = Day13/java-maven-app
	url = https://github.com/Mayusha-R/java-maven-app.git
[submodule "Day14/java-docker"]
	path = Day14/java-docker
	url = https://github.com/Mayusha-R/java-docker.git
[submodule "Day15/jenkins-docker-ansible"]
	path = Day15/jenkins-docker-ansible
	url = https://github.com/Mayusha-R/jenkins-docker-ansible.git

[submodule "Day19/ansible-dynamic-inventory"]
	path = Day19/ansible-dynamic-inventory
	url = https://github.com/Mayusha-R/ansible-dynamic-inventory
